.center-contents-vertically {
  display: grid;
  place-items: center;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.highlight-article-digit {
  background-color: #666;
  color: white;
  padding-right: 1em;
}
