.center-contents-vertically {
  display: grid;
  place-items: center;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

#editorContents {
  border: 1px solid #e5e5e5;
  height: 4em; /* This value is actually controlled by code */
}

.highlight-article-digit {
  background-color: #666;
  color: white;
  padding-right: 1em;
}
